.input__wrapper {
    margin: 1rem 0;

    input {
        width: 90%;
        background-color: rgba(0, 0, 0, 0.2);
        outline: none;
        border: 0;
        padding: 0.5rem;
        color: var(--white-color);
        transition: outline 0.2s ease-in-out,
            outline-offset 0.2s ease-in-out;

        &:hover,
        &:focus {
            outline: 2px solid white;
            outline-offset: -2px;
        }
    }

    .label__wrapper {
        margin-bottom: 0.25rem;
    }
}
