.title {
    padding-top: 3rem;
    text-transform: uppercase;
    letter-spacing: 15px;
    z-index: 3;
    h1 {
        font-weight: 800;
        font-size: 3rem;
    }

    h2 {
        font-weight: 300;
        font-size: 2rem;
    }
}
