.title {
    padding-left: 3rem;
    padding-top: 3rem;
    text-transform: uppercase;
    letter-spacing: 15px;
    color: var(--text-color);

    h1 {
        font-weight: 300;
        font-size: 2rem;
    }

    h2 {
        font-weight: 300;
        font-size: 1.5rem;
    }
}
