.card__wrapper {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: var(--white-color);
    color: var(--dark-blue-color);
    border-radius: 0.5rem;
    box-shadow: 5px 7.5px 6px 7px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    /* cursor: pointer; */

    &__bottom-tittle {
        display: flex;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 50px;
        bottom: -50px;
        transition: all 0.3s ease-in-out;
    }

    img {
        border-radius: 0.5rem;
        height: 100%;
    }

    &:hover {
        transform: scale(1.02);

        .card__actions {
            opacity: 1;
            pointer-events: all;
            transform: translateX(50px);
        }

        .card__content__technologies {
            transform: translateY(100px);
        }
    }

    .card {
        width: 100%;
        height: 100%;

        &__actions {
            position: absolute;
            display: flex;
            flex-direction: column;
            opacity: 0;
            pointer-events: none;
            right: 0;
            top: 20px;
            transition: all 0.3s ease-in-out;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
            border-radius: 0 0.5rem 0.5rem 0;
            z-index: -1;

            &--dark-theme {
                background-color: var(--dark-blue-color);
                border: 1px solid var(--white-color);
            }
        }

        &__content {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: flex-end;
            position: absolute;
            bottom: 0;
            padding-bottom: 0.5rem;
            opacity: 1;
            transition: all 0.3s ease-in-out;

            &__technologies {
                width: 100%;
                height: 50px;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                position: absolute;
                bottom: 0px;
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
                border-radius: 0.5rem;
                transition: all 0.2s ease-in-out;
                z-index: -1;

                &--dark-theme {
                    background-color: var(--dark-blue-color);
                    border: 1px solid var(--white-color);
                }
            }
        }
    }
}
