.card__wrapper {
    position: relative;
    margin: 5rem;
    width: 300px;
    height: 200px;
    background-color: var(--white-color);
    color: var(--dark-blue-color);
    border-radius: 0.5rem;
    box-shadow: 5px 7.5px 6px 7px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
        transform: scale(1.02);

        .card__content {
            opacity: 1;
            transform: translateY(-20px);
        }
        img {
            height: 80%;
        }

        .card__actions {
            opacity: 1;
            pointer-events: all;
            transform: translateX(50px);
        }
    }

    .card__top-style {
        height: 20px;
        width: 100%;
        background-color: var(--lighter-blue-color);
        border-radius: 0.5rem 0.5rem 0 0;
    }

    .card__top-style-dark-theme {
        background-color: var(--lighter-blue-color);
    }

    .card {
        width: 100%;
        height: 180px;
    }

    .card__content {
        height: calc(100% - 20px);
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
        position: absolute;
        bottom: -20px;
        padding-bottom: 0.5rem;
        opacity: 0;
        transition: all 0.3s ease-in-out;
    }

    .card__actions {
        position: absolute;
        display: flex;
        flex-direction: column;
        opacity: 0;
        pointer-events: none;
        right: 0;
        top: 20px;
        transition: all 0.3s ease-in-out;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
        border-radius: 0 4px 4px 0;
        z-index: -1;
    }

    .card__bottom-tittle {
        display: flex;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 50px;
        bottom: -50px;
    }
}

.card__wrapper-dark-theme {
    background-color: var(--dark-blue-color);
    color: var(--white-color);
}
