.navbar {
    position: fixed;
    top: calc(50% - 104px);
    width: 58px;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0 4px 4px 0;
    z-index: 3;

    .navbar__buttons {
        padding: 4px;
    }
}
