.navigation-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: calc(-44.5px);
    z-index: 4;

    &__dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: 1rem;
        cursor: pointer;
        background-color: var(--dark-blue-color);

        transition: background-color 0.2s ease-in-out;

        &:hover {
            background-color: var(--light-red-color);
        }

        &--light-theme {
            background-color: var(--white-color);
        }

        &--dark-theme {
            background-color: var(--dark-blue-color);
        }

        &--active {
            background-color: var(--light-red-color);
        }
    }
}
