body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --background-color-white: #fff;
    --background-color-light-blue: #b3e1ed;
    --background-color-lighter-blue: #d1dee1;
    --background-color-dark-theme: #17202a;
    --text-color: #17202a;
    --text-color-dark-theme: #fff;
    --light-red-color: #c25d78;
}

.flex-column {
    display: flex;
    flex-direction: column;
}
