body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* when converting to scss -> variables partial */

/* $white-color: #fff;
$light-blue-color: #b3e1ed;
$lighter-blue-color: #d1dee1;
$dark-blue-color: #1f2b3f;
$light-red-color: #c25d78;
$portal-element-background: rgba(0, 0, 0, 0.8);
 */

/* technologies icons -> techIcons partial
.mui {
    color: #3f51b5;
}

.react {
    color: #61dbfb;
}

.node {
    color: #303030;
}

.mongo {
    color: #4db33d;
}

.express {
    color: black;
}

.sass {
    color: #cd6799;
}

.css {
    color: #264de4;
}

.js {
    color: #f0db4f;
}

.cypress {
    color: #303030;
}

.jest {
    color: #c63d14;
}

.html {
    color: #f06529;
}

*/

/* mixins -> mixins partial */

/* @mixin dark-theme {
    background-color: $dark-blue-color;
    color: $white-color;
}

@mixin light-theme {
    background-color: $white-color;
    color: $dark-blue-color;
}

@mixin border-dark-theme {
    border: 1px solid $white-color;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin block-center {
    display: block;
    margin: auto;
}

@mixin flex-start {
    display: flex;
    justify-content: flex-start;
}

@mixin full-container-size {
    height: 100%;
    width: 100%;
}

@mixin svg-icon {
    height: 24px;
    width: 24px;
    color: $dark-blue-color;
    transition: color 0.2s ease-in-out;
}

@mixin svg-icon-dark-theme {
    color: $white-color;
} 
@mixin background-transition {
    transition: background-color 0.2s ease-in-out; 
}
*/

:root {
    /*new color setup */
    --white-color: #fff;
    --light-blue-color: #b3e1ed;
    --lighter-blue-color: #d1dee1;
    --dark-blue-color: #1f2b3f;
    --light-red-color: #c25d78;
    --portal-element-background: rgba(0, 0, 0, 0.8);
    scroll-behavior: smooth;
}

.dark-theme {
    background-color: var(--dark-blue-color);
    color: var(--white-color);
}

.light-theme {
    background-color: var(--white-color);
    color: var(--dark-blue-color);
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-mg-6-l {
    display: block;
    margin: auto 0 auto 6rem;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
}

.small-padding-x {
    padding: 0 1rem;
}

.medium-padding-x {
    padding: 0 2rem;
}

.even-large-padding-x {
    padding: 0 8rem;
}

.odd-large-padding-x {
    padding: 0 2rem 0 14rem;
}

.full-container-height {
    height: 100%;
}

.full-container-width {
    width: 100%;
}

.full-container-size {
    height: 100%;
    width: 100%;
}

svg {
    height: 24px;
    width: 24px;
    color: var(--dark-blue-color);
    transition: color 0.2s ease-in-out;
}

.svg--dark-theme {
    color: var(--white-color);
}

.backdrop-portal {
    width: 100vw;
    height: 100vh;
    background-color: var(--portal-element-background);
    z-index: 10;
    display: flex;
}

.click-away-listener {
    width: 100%;
    height: 100%;
    display: flex;
    backdrop-filter: blur(4px);
}

.image {
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
}

.icon__wrapper {
    width: 50px;
    height: 50px;
}

.circle-icon__wrapper {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
    box-shadow: 5px 7.5px 6px 7px rgba(0, 0, 0, 0.2);
}

.icon {
    height: 24px;
    width: 24px;
    vertical-align: middle;
}

.mui {
    color: #3f51b5;
}

.react {
    color: #61dbfb;
}

.node {
    color: #303030;
}

.mongo {
    color: #4db33d;
}

.express {
    color: black;
}

.sass {
    color: #cd6799;
}

.css {
    color: #264de4;
}

.js {
    color: #f0db4f;
}

.cypress {
    color: #303030;
}

.jest {
    color: #c63d14;
}

.html {
    color: #f06529;
}
