body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    /*new color setup */
    --white-color: #fff;
    --light-blue-color: #b3e1ed;
    --lighter-blue-color: #d1dee1;
    --dark-blue-color: #1f2b3f;
    --light-red-color: #c25d78;

    --text-color: #1f2b3f;
    --text-color-dark-theme: #fff;
    --light-red-color: #c25d78;
    --icon-btn-color: #1f2b3f; /*make this the text color*/
}

.dark-theme {
    background-color: var(--dark-blue-color);
    color: var(--white-color);
}

.light-theme {
    background-color: var(--white-color);
    color: var(--dark-blue-color);
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-center {
    display: block;
    margin: auto;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
}

.small-padding-x {
    padding: 0 1rem;
}

.medium-padding-x {
    padding: 0 2rem;
}

.large-padding-x {
    padding: 0 8rem;
}

.full-container-height {
    height: 100%;
}

.full-container-size {
    height: 100%;
    width: 100%;
}

svg {
    height: 24px;
    width: 24px;
    color: var(--dark-blue-color);
    transition: color 0.2s ease-in-out;
}

.svg-dark-theme {
    color: var(--white-color);
}
