.footer-wrapper {
    height: 100vh;

    .footer {
        display: flex;
        width: 100%;

        &-inner-wrapper {
            flex-wrap: wrap;
            display: flex;
            gap: 4rem;
        }

        &__personal-details {
            max-width: 20rem;
            p {
                font-weight: 500;
            }

            .all-rights {
                margin-top: 10rem;
            }
        }
    }
}
